# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}
APP_NAME=StreamVerse

# Session
SESSION_DRIVER=cookie
SESSION_NAME=stream-verse

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_DATABASE=stream-verse

# Cache
CACHE_STORE=database

# Limiter
LIMITER_STORE=database

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Other
SPORTSRC_API_KEY=

VITE_APP_NAME="${APP_NAME}"
VITE_APP_URL="${APP_URL}"
